
#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

#leftside {
    background-color: skyblue;
    display: grid;
    padding-left: 15px;
    grid-template-rows: 1fr 4fr 8fr;
}

img {
    margin-left: auto;
    color: white;
    
}

#smallcontainer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 30px;
    padding-bottom: 10px;
}

#section1, #section2 {
    padding-top: 10px;
}


#icon1 {
    padding-bottom: 10px;
}

#dashboard {
    /*padding-bottom: 10px;*/
    display: grid;
    align-items: center;
}

#icon7 {
    padding-bottom: 20px;
}

#Communities {
    padding-bottom: 20px;
}

button{
    height: 50px;
    width: 100px;

}

#topside{
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#toppart {
    display: grid;
    grid-template-columns: 4fr 2fr ;
}

#searchbar {
    padding-left: 60px;
}

#threeicon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#bottompart {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-right: 100px;
}

#profileicon {
    padding-left: 60px;
}

#buttongroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#rightside {
    background-color: lightgray;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#topside {
    background-color: lightcyan;
}

#bottomside {
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 2fr 2fr;
}

#card {
    outline-style: solid;
    width: 350px;
    height: 175px;
}

#projectcontainer {
    grid-row-start: 1;
    grid-row-end: 3;
}

#cardcontainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    padding-left: 50px;
}

#yourproject {
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 20px;
}

#announcediv {
    outline-style: solid;
    width: 250px;
    height: 80px;
}

#announce {
    padding-top: 20px;
    padding-bottom: 10px;
}

#trenddivcontainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

#trend{
    padding-bottom: 10px;
}

#trenddiv {
    outline-style: solid;
    width: 250px;
    height: 62px;
}

