
#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

#leftside {
    background-color: skyblue;
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding-left: 15px;
}

#icon1 {
    padding-bottom: 10px;
}

#dashboard {
    padding-bottom: 10px;
}

#icon7 {
    padding-bottom: 20px;
}

#Communities {
    padding-bottom: 20px;
}

button{
    height: 50px;
    width: 100px;

}

#topside{
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#toppart {
    display: grid;
    grid-template-columns: 4fr 2fr ;
}

#searchbar {
    padding-left: 60px;
}

#threeicon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#bottompart {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-right: 100px;
}

#profileicon {
    padding-left: 60px;
}

#buttongroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#rightside {
    background-color: lightgray;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#topside {
    background-color: lightcyan;
}

#bottomside {
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

#card {
    outline-style: solid;
    width: 350px;
    height: 175px;
}

#projectcontainer {
    grid-row-start: 1;
    grid-row-end: 3;
}

#cardcontainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    padding-left: 50px;
}

#yourproject {
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 20px;
}


